<template>
	<view class="content">

		<web-view :webview-styles="webviewStyles" :src="linkUrl"></web-view>
		<!-- <iframe :style="{ width: clientWidth + '%', height: clientHeight + 'px' }" :src="linkUrl"></iframe> -->
		
	</view>
</template>

<script>

	export default {
		data() {
			return {
				clientWidth: 100,
				// clientHeight: document.documentElement.clientHeight,
				linkUrl: "",
				optionuid: "",
				optionaccountid: "",
				sysadArr : [],
                webviewStyles: {
                    progress: {
                        color: '#FFF'
                    }
                }
			};
		},
		onLoad(option) {
			this.optionuid = option.uid;
			this.optionaccountid = option.accountid;
			this.linkUrl = "https://mdq.miduoke.net/Web/im.aspx?_=t&accountid=102586";
		},
		mounted () {
		  this.$nextTick(() => {
			this.fetchsysad(this.optionuid);
		  })
		},
		
		methods: {
			
			// 接口7   接口15  根据用户ID 获取广告设置详情
			fetchsysad(uid) {
				uni.request({
					url:this.$hostUrl + '/adm'  + `?uid=${uid}`,
					method: 'GET',
					success: (res) => {
						if(res.data.Msg === "ok" && res.data.Data) {
							this.sysadArr = res.data.Data;
							uni.setNavigationBarTitle({
								title: this.sysadArr.Title
							});
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})

			},
			
			
        }
		
    }
</script>

<style>
	page {
		background-image: #FFF;
	}
	iframe {
		padding: 0;
		margin: 0;
		border: none;
	}
</style>


