<template>
    <view>
         <!-- <uni-nav-bar fixed left-icon="arrowleft" :title="sysadArr.Title" color="#fff" background-color="#ec2740" @click-left="backToIndex"></uni-nav-bar> -->
		
		<view class="disBox boxAlign-center tac link"> 			 
 			<!-- <a :href="sysadArr.Link1" class="boxFlex owt"> -->
 			<a @click="btnLink(sysadArr.Link1)" class="boxFlex owt">
			<!-- <a :href="sysadArr.Link1" @tap="open(0)" class="boxFlex owt"> -->
				{{sysadArr.Link1Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link2" @tap="open(1)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link2)" class="boxFlex owt">
				{{sysadArr.Link2Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link3" @tap="open(2)" class="boxFlex owt"> -->
			<a @click="btnLinkim(sysadArr.Link3)" class="boxFlex owt">
				{{sysadArr.Link3Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link4" @tap="open(3)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link4)" class="boxFlex owt">
				{{sysadArr.Link4Name}}
			</a>
		</view>
		
			
		<!-- 菜单栏 -->
		<wuc-tab class="series" :tab-list="tabList" :tabCur.sync="TabCur" @change="tabChange"></wuc-tab>
        <!-- 详情列表 -->
		<view class="mgT28">
		<view v-for="(item,index) in menu">
			 <view style="border-bottom: 1px solid #ddd;" v-if="item.hasOwnProperty('LotteryList') && item.ID == (TabCur+1)"  v-for="(list,index1) in item.LotteryList">
			      <!-- <table width="100%"> -->
				    <view class="row">
					   <view class="list1" align="center" valign="middle">{{list.Title}}
					   </view>
					   <view class="list2" align="center" valign="middle">
					    <view v-for="(itemSecond,index) in lotteryMenu">
					   						   <span  :class="listSecond.LongCount > 3 ? 'active' : ''" v-if="itemSecond.hasOwnProperty('LongList') && list.Title == itemSecond.Title"  v-for="(listSecond,index1) in itemSecond.LongList">
							    <text>{{listSecond.Title}}&nbsp;{{listSecond.LongCount}}&nbsp;期</text>
					    </span>
					   </view>
					   </view>
				    </view>
					<!-- </table> -->
		   </view>
	    </view>
	  </view>
    </view>
</template>

<style lang="scss">
	@import '../../static/style/details/lotlong.css';
</style>

<script>
	import WucTab from '../../components/wuc-tab/wuc-tab.vue';
	import {uniNavBar} from '@dcloudio/uni-ui';
	
	export default {
		components: {WucTab,uniNavBar},
		data(){
			return {
				url: ["http://jysctgw.com/","http://yzcp.vip","http://mdq.miduoke.net/Web/im.aspx?_=t&accountid=102586","http://www.jysctjh.com/hbjlq.html"],            //顶部菜单导航网址   
				TabCur:0,
				tabList:[
					// {name: '快三系列'},
					// {name: '赛车系列'},
					// {name: '时时彩系列'}
				],
				menu:[],
				lotteryMenu:[],
				optionuid: "",
                sysadArr: []
			}
		},
		onLoad(option){
			this.optionuid = option.uid;
			// console.log(option.uid,option.lotteryid);
		},
		mounted(){
			this.$nextTick(()=>{
				this.getMenu(this.optionuid);
				this.getRemind(this.optionuid,1);
				 this.fetchadm(this.optionuid);
			})
		},
		methods:{
			// 跳转到第三方网站
			open(types) {
				plus.runtime.openURL(this.url[types], function(res) {
					console.log(res);
				});
			},
			tabChange(index){
				this.TabCur = index
				console.log(this.TabCur);
				if(this.TabCur == 1){
					this.getRemind(this.optionuid,2)
				}else if (this.TabCur == 2){
					this.getRemind(this.optionuid,3)
				}else {
					this.getRemind(this.optionuid,1)
				}
			},
			getMenu(uid){
				uni.request({
					url: this.$hostUrl + '/lotterytype' + `?uid=${uid}`,
					method: 'GET',
					success: res => {
						if (res.data.Msg == 'ok'){
							this.menu = res.data.Data
							this.menu.forEach((item,index,arr)=>{
								if(index !== 0) {
									this.tabList.push({'name':item.Title})
								}
							})
						}
					},
					fail: err => {
						uni.showToast({
							icon:'none',
							duration:3000,
							title:`${err.message}`
						})
					}
				})
			},
			getRemind(uid,lotteryid){
				uni.request({
					url: this.$hostUrl + '/lotlongtype' + `?uid=${uid}&lotteryTypeID=${lotteryid}`,
					method: 'GET',
					success: res => {
						if (res.data.Msg == 'ok'){
							this.lotteryMenu = res.data.Data;
							this.lotteryMenu.forEach((item,index,arr)=>{
								// console.log(item.LongList.Title,item.LongList.LongCount);
							})
						}
					},
					fail: err => {
						uni.showToast({
							icon:'none',
							duration:3000,
							title:`${err.message}`
						})
					}
				})
			},
			// 接口7   接口15  根据用户ID 获取广告设置详情
			fetchadm(uid) {
				uni.request({
					url:this.$hostUrl + '/adm'  + `?uid=${uid}`,
					method: 'GET',
					success: (res) => {
						if(res.data.Msg === "ok" && res.data.Data) {
							this.sysadArr = res.data.Data;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			 backToIndex(){
				uni.navigateTo({
					url: '../home/index'
				})
			},
            btnLink(link){
				uni.navigateTo({
					url: '../details/linkComponent?uid=' +  this.optionuid + '&link=' + link
				})
			},
            btnLinkim(link){
				uni.navigateTo({
					url: '../details/linkim?uid=' +  this.optionuid
				})
			},
			onNavigationBarButtonTap(){
				uni.navigateTo({
					url: '../home/index'
				});
			},
			
		}
	}
</script>
