<template>
	<view>
		
		<view class="helpBtn" @click="btnCL()">
			<view style="margin-top: 24upx;">长龙</view><view>提醒</view>
		</view>
		
		
         <!-- <uni-nav-bar fixed left-icon="arrowleft" :title="sysadArr.Title" color="#fff" background-color="#ec2740" @click-left="backToIndex"></uni-nav-bar> -->
		
		<view class="disBox boxAlign-center tac link"> 			 
 			<!-- <a :href="sysadArr.Link1" class="boxFlex owt"> -->
 			<a @click="btnLink(sysadArr.Link1)" class="boxFlex owt">
			<!-- <a :href="sysadArr.Link1" @tap="open(0)" class="boxFlex owt"> -->
				{{sysadArr.Link1Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link2" @tap="open(1)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link2)" class="boxFlex owt">
				{{sysadArr.Link2Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link3" @tap="open(2)" class="boxFlex owt"> -->
			<a @click="btnLinkim(sysadArr.Link3)" class="boxFlex owt">
				{{sysadArr.Link3Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link4" @tap="open(3)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link4)" class="boxFlex owt">
				{{sysadArr.Link4Name}}
			</a>
		</view>
		
		


		<div class="mkj">
			<div class="mlist">
				<div class="x1">
					<span id="cp_id" style="margin-right: 12upx;">{{openResults.Title}}</span>  第<span id="cp_id">{{openResults.TermNumber}}</span>期开奖
				</div>
				<div class="x2">
					下期开奖：
					<!-- {{planruleResultID}} -->
					<span id="djshh">{{hour}}</span> : 
					<span id="djsmm">{{minute}}</span> : 
					<span id="djsss">{{second}}</span>
				</div>
			</div>
			<div class="minfo" id="cp_code">
				<span v-for="(openNumber,index) in openNumbers"  v-if="!isTheLotteryShow">
					<span class="kj-ssc">{{openNumber}}</span>
				</span>
				
				<div class="kj-now" v-if="isTheLotteryShow">正在开奖中...</div>

								
			</div>
		</div>


		<div class="mdh">
			<div class="box1">	
				<p class="sort clear">
					<a v-for="(plantypeResult,index) in plantypeResults" :class="{'on':index==currentPlantypeIndex}"  @click="togglePlantype(index)">
					{{plantypeResult.Title}}
					</a>
					<a :class="{'on':currentPlantypeIndex=='history'}"  @click="togglePlantypeHistory()">
						历史开奖
					</a>
				</p>
			</div>
		</div>
			
		<view v-if="currentPlantypeIndex!=='history'">
			<div class="mdh" style="margin-bottom: 0rem;">
				<div class="mnav3">
					<ul id="kuser">
						<li v-for="(planruleResult,index) in planruleResults" @click="togglePlanrule(index,planruleResult)">
							<a id="fangan3" :class="{'on':index==currentPlanruleIndex}">{{planruleResult.Title}}</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="jh-all">
				<div id="kplan">
					<div class="myplan">
						
						
						<view class="disBox boxAlign-center" v-if="childPlanResults">
							<view class="tit1 boxFlex w33">预测期数</view>
							<view class="tit1 boxFlex w33">预测计划</view>
							<view class="tit1 boxFlex w33">投注倍数</view>
						</view>
						<view class="disBox boxAlign-center fs26 tac" style="background-color:#FFFFFF; padding: 12upx;" v-for="(result,index) in childPlanResults"  v-if="index == 0">
							<view class="Xlist1 boxFlex w33">								
								<span v-if="result.PlanTermStart.length >8" style="color:#16C03D">
									{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
								</span>
								<span v-if="result.PlanTermStart.length <=8" style="color:#16C03D">
									{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
								</span>
							</view>
							<view class="boxFlex w33">
								{{result.PlanNumber}}
								<!-- <span v-for="PlanNumber in childPlanResults[0].PlanNumber.split(',')"> -->
								<!-- <span v-for="PlanNumber in result.PlanNumber.split(',')">
									{{PlanNumber}}
								</span> -->
							</view>
							<view class="Xlist3 boxFlex w33">
								<span class="new-2">{{result.Multiple}}倍</span>
							</view>
						</view>
						
						<view class="disBox boxAlign-center" v-if="childPlanResults">
							<view class="tit1 boxFlex w25">历史期数</view>
							<view class="tit1 boxFlex w25">历史计划</view>
							<view class="tit1 boxFlex w25">成功关卡</view>
							<view class="tit1 boxFlex w25">结果</view>
						</view>
						<view  class="disBox boxAlign-center fs26 tac bdbtF1" v-for="(result,index) in childPlanResults"  v-if="index !== 0">
							<view class="boxFlex cl8 w25">
								<span v-if="result.PlanTermStart.length >8">
									{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
								</span>
								<span v-if="result.PlanTermStart.length <=8">
									{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
								</span>
							</view>
							<view class="boxFlex w25">
								{{result.PlanNumber}}
								<!-- <span class="m-jh" style="background:gainsboro" v-for="(PlanNumber,index) in result.PlanNumber.split(',')">
									{{PlanNumber}}
								</span> -->
							</view>
							<view class="boxFlex cl8 w25">
								<span v-if="result.isOut === 1">挂</span>
								<span v-if="result.isOut === 0">第 {{result.PlayCount}} 关</span>
							</view>
							<view class="boxFlex w25">
								<span class="m-ok" v-if="result.isOut === 0">中</span>
								<span class="m-no" v-if="result.isOut === 1">挂</span>
							</view>
						</view>
						
						
						
						
						 <!-- <table width="100%">
							<tbody>
								<tr>
									<th width="209" class="tit1">预测期数</th>
									<th width="519" class="tit1">预测计划</th>
									<th width="259" class="tit1" colspan="2" style="text-align:right;padding-right:5px;">投注倍数</th>
								</tr>
							</tbody>
							
							<tbody>
								<tr style="background-color:#FFFFFF" id="yuce_new" v-for="(result,index) in childPlanResults"  v-if="index == 0">
									<td align="center" valign="middle" class="list1" height="40">								
										<font v-if="result.PlanTermStart.length >8" style="color:#16C03D">
											{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
										</font>
										<font v-if="result.PlanTermStart.length <=8" style="color:#16C03D">
											{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
										</font>
									</td>
									<td align="center" valign="middle" class="list2">
										<span class="m-jh-new" style="background:gainsboro" :class="{'through':index < (result.PlayCount-1),'m-wgo':index < (result.PlayCount-1),'m-wnow':index== (result.PlayCount-1),'m-wno':index > (result.PlayCount-1)}" 
											v-for="(PlanNumber,index) in result.PlanNumber.split(',')">
											{{PlanNumber}}
										</span>
									</td>
									<td align="center" valign="middle" class="list3" colspan="2" style="text-align:right;padding-right:5px;">
										<span class="new-2">{{result.Multiple}}倍</span>
									</td>
								</tr>
							</tbody>
							
							<tbody>
								<tr>
									<th width="209" class="tit1">历史期数</th>
									<th width="519" class="tit1">历史计划</th>
									<th width="259" class="tit1">成功关卡</th>
									<th width="210" class="tit2">结果</th>
								</tr>
							</tbody>
							
							<tbody id="yuce_history">

								<tr v-for="(result,index) in childPlanResults"  v-if="index !== 0">
									<td align="center" valign="middle" class="list1" height="40">
										<span v-if="result.PlanTermStart.length >8">
											{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
										</span>
										<span v-if="result.PlanTermStart.length <=8">
											{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
										</span>
									</td>
									<td align="center" valign="middle" class="list2">			
										<span class="m-jh" style="background:gainsboro" :class="{'m-wgo':index < (result.PlayCount-1),'m-wok':index== (result.PlayCount-1),'m-wno':index > (result.PlayCount-1)}" 
											v-for="(PlanNumber,index) in result.PlanNumber.split(',')">
											{{PlanNumber}}
										</span>
									</td>
									<td align="center" valign="middle" class="list3">
										<span v-if="result.isOut === 1">挂</span>
										<span v-if="result.isOut === 0">第 {{result.PlayCount}} 关</span>
									</td>
									<td align="center" valign="middle" class="list4">
										<span class="m-ok" v-if="result.isOut === 0">中</span>
										<span class="m-no" v-if="result.isOut === 1">挂</span>
									</td>
								</tr>
							</tbody>
						</table> -->
						 
					</div>
				</div>
			</div>
		</view>



		<!-- 历史开奖 -->
		<view style="background-color: #fff;" v-if="currentPlantypeIndex=='history'">


			<table width="100%"> 
			  <tbody> 
				<tr class="disBox boxAlign-center fs26 tac bdbtF1">
				  <th class="tit1 boxFlex w20 fs35">开奖时间</th> 
				  <th class="tit1 boxFlex w8 fs35">期号</th> 
				  <th class="tit1 boxFlex w40 fs35">开奖号码</th> 
				  <th class="tit1 boxFlex w12 fs35" colspan="3">和值</th> 
				  <th class="tit1 boxFlex w20 fs35" colspan="5">1-5龙虎</th> 
				</tr> 
			  </tbody>

			  <tbody> 
				<tr class="disBox boxAlign-center fs26 tac bdbtF1" v-for="openresultResult in openHistoryResults">
				  <td class="boxFlex cl8 w20">{{openresultResult.OpenTime}}</td> 
				  <td class="boxFlex w8">{{openresultResult.TermNumber.substr(8)}}</td> 
				  <td class="boxFlex cl8 w40" align="center"> 
					<div style="width:300rpx; padding:0;margin:0 auto;overflow: hidden"> 
					  <div class="cai-num pk10-num">
						  {{openresultResult.OpenNumber}}
					  </div> 
					</div>
				  </td>

				  <td class="boxFlex w4">
					{{ parseInt(openresultResult.OpenNumber.split(',')[0]) + parseInt(openresultResult.OpenNumber.split(',')[1]) }}
				  </td>

				  <td class="boxFlex w4">
					<font style="color: #ff6600;" v-if="( parseInt(openresultResult.OpenNumber.split(',')[0]) + parseInt(openresultResult.OpenNumber.split(',')[1]) ) > 11">大</font>
					<font v-else>小</font>
				  </td> 
				  <td class="boxFlex w4">
					<span v-if="( parseInt(openresultResult.OpenNumber.split(',')[0]) + parseInt(openresultResult.OpenNumber.split(',')[1]) ) % 2 == 0">双</span>
					<span v-else>单</span>
				  </td> 

				  <td class="boxFlex w4">
					<font style="color: #ff6600;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[0]) > parseInt(openresultResult.OpenNumber.split(',')[9])  ">龙</font>
					<font v-else>虎</font>
				  </td> 
				  <td class="boxFlex w4">
					<font style="color: #ff6600;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[1]) > parseInt(openresultResult.OpenNumber.split(',')[8])  ">龙</font>
					<font v-else>虎</font>
				  </td> 
				  <td class="boxFlex w4">
					<font style="color: #ff6600;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[2]) > parseInt(openresultResult.OpenNumber.split(',')[7])  ">龙</font>
					<font v-else>虎</font>
				  </td> 
				  <td class="boxFlex w4">
					<font style="color: #ff6600;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[3]) > parseInt(openresultResult.OpenNumber.split(',')[6])  ">龙</font>
					<font v-else>虎</font>
				  </td> 
				  <td class="boxFlex w4">
					<font style="color: #ff6600;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[4]) > parseInt(openresultResult.OpenNumber.split(',')[5])  ">龙</font>
					<font v-else>虎</font>
				  </td> 
				</tr> 

			  </tbody>
			</table> 
			
		</view>




	</view>
</template>

<style lang="scss">
  @import '../../static/style/details/racingSeries.css';
</style>

<style lang="scss">
	page {
		background: #efeff4;
	}
</style>

<script>
	
	import Public from '../../static/js/public';
	import {uniNavBar} from '@dcloudio/uni-ui';
	
	export default {
		components: {uniNavBar},
		data() {
			return {
                url: ["http://jysctgw.com/","http://yzcp.vip","http://mdq.miduoke.net/Web/im.aspx?_=t&accountid=102586","http://www.jysctjh.com/hbjlq.html"],            //顶部菜单导航网址 
				openNumbers: [],
				openResults: [],
				
				plantypeResults: [],
				currentPlantypeIndex: 0,
				
				planruleResults: [],
				planruleResultID: "",
				currentPlanruleIndex: 0,


				childPlanResults: [],
				listPlan: [],
				
				
				
				intervalID: 0,
				hour: 0, minute: 0, second: 0,
				
				isTheLottery:'', //开奖动画时长相关
				
				isTheLotteryShow: false,
				
				optionuid: "",
				optionlotteryId: "",
				
				openHistoryResults: [],
				pageindex: 1,
				pagesize: 30,
				
				LeftSecond: "",
				sysadArr: [],

			}
		},
		onLoad(option) {
			// console.log(option.uid,option.lotteryId);
			this.optionuid = option.uid;
			this.optionlotteryId = option.lotteryId;
		},
		mounted () {
		  this.$nextTick(() => {
			  
			  Public.initialization(this.optionuid,this.optionlotteryId);

			  this.togglePlantype(0);
			  this.fetchOpenresult(this.optionuid,this.optionlotteryId);
			  this.fetchsysad(this.optionuid);
			  this.fetchOpenHistory(this.pageindex,this.pagesize,this.optionuid,this.optionlotteryId);
		  })
		},
		methods: {
			// 跳转到第三方网站
			open(types) {
				plus.runtime.openURL(this.url[types], function(res) {
					console.log(res);
				});
			},
			// 根据彩种ID 获取开奖结果
			fetchOpenresult(uid,lotteryid) {
				uni.request({
					url:this.$hostUrl + '/openresult' + `?uid=${uid}&lotteryid=${lotteryid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.openNumbers = res.data.Data[0].OpenNumber.split(',');
							this.openResults = res.data.Data[0];
							
							this.LeftSecond = res.data.Data[0].LeftSecond;


							this.timer( res.data.Data[0].LeftSecond ); //s  300s 5*60,  60s 1*60

						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			timer(intDiff) {
				// window.clearInterval(this.intervalID);
				clearInterval(this.intervalID);

				this.intervalID = setInterval(() => {
				  if (intDiff >= 0) {
					this.hour = Math.floor(intDiff / (60 * 60));
					this.minute = Math.floor(intDiff / 60) - (this.hour * 60);
					this.second = Math.floor(intDiff) - (this.hour * 60 * 60) - (this.minute * 60);
					if (this.hour <= 9) this.hour = '0' + this.hour;
					if (this.minute <= 9) this.minute = '0' + this.minute;
					if (this.second <= 9) this.second = '0' + this.second;
					intDiff--;
					if (intDiff < 0) {
					  this.setIntervalFn();
					}
				  }
				}, 1000);
			},
			setIntervalFn() {
				this.isTheLotteryShow = true;
		        setTimeout(() => {

		          this.fetchPlan(1,20, this.optionuid, this.planruleResultID);
		          this.fetchOpenresult(this.optionuid,this.optionlotteryId);
				  
		          this.isTheLotteryShow = false;
		        // }, this.isTheLottery * 1000);
				}, 3000);
			},
			
			togglePlantype(index) {
				this.fetchLottery(1,1,this.optionuid,this.optionlotteryId,index);
				if (index!==this.currentPlantypeIndex) {
					this.currentPlantypeIndex = index;
				}
			},
			togglePlantypeHistory() {
				this.currentPlantypeIndex="history";
				this.fetchOpenHistory(this.pageindex,this.pagesize,this.optionuid,this.optionlotteryId);
			},
			
			
			
			
			//接口1： 根据彩种ID 获取计划类型列表 (二级导航菜单)
			fetchLottery(pageindex,pagesize,uid,lotteryid,index) {
				uni.request({
					url:this.$hostUrl + '/plantype' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&lotteryid=${lotteryid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.plantypeResults = res.data.Data;
							this.fetchPlantypeid(1,1,this.optionuid,res.data.Data[index].ID);

						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			// 接口2：根据 计划类型ID和用户id 获取 计划规则列表 (三级导航菜单)
			fetchPlantypeid(pageindex,pagesize,uid,plantypeid) {
				uni.request({
					url:this.$hostUrl + '/planrule' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&plantypeid=${plantypeid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.planruleResults = res.data.Data;
							this.planruleResultID = this.planruleResults[0].ID;

							// 初始化获取计划详细数据
							this.fetchPlan(1,20,this.optionuid,this.planruleResults[0].ID);

						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			
			togglePlanrule(index,planruleResult) {
				this.planruleResultID = planruleResult.ID; //获取计划详细数据的计划规则ID
				this.fetchPlan(1,20,this.optionuid,planruleResult.ID);

				if (index!==this.currentPlanruleIndex) {
					this.currentPlanruleIndex = index;
				}
			},
			// 接口3： 根据计划规则ID 获取计划详细数据
			fetchPlan(pageindex,pagesize,uid,planid) {
				uni.request({
					url:this.$hostUrl + '/plan' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&planid=${planid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.childPlanResults = res.data.Data;
							this.listPlan = res.data;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			// 历史开奖
			fetchOpenHistory(pageindex,pagesize,uid,lotteryid) {
				uni.request({
					url:this.$hostUrl + '/openresult' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&lotteryid=${lotteryid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
						    this.openHistoryResults = res.data.Data;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},

			// 接口7   接口15  根据用户ID 获取广告设置详情
			fetchsysad(uid) {
				uni.request({
					url:this.$hostUrl + '/sysad'  + `?uid=${uid}`,
					method: 'GET',
					success: (res) => {
						if(res.data.Msg === "ok" && res.data.Data) {
							this.sysadArr = res.data.Data;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			backToIndex(){
				uni.navigateTo({
					url: '../home/index'
				})
			},

            btnCL(){
				uni.navigateTo({
					url: '../details/lotlong?uid=' + this.optionuid
				})
			},
            btnLink(link){
				uni.navigateTo({
					url: '../details/linkComponent?uid=' +  this.optionuid + '&link=' + link
				})
			},
            btnLinkim(link){
				uni.navigateTo({
					url: '../details/linkim?uid=' +  this.optionuid
				})
				
			}

		}
	}
</script>

