<template>
	<view>
		
		<view class="helpBtn" @click="btnCL()">
			<view style="margin-top: 24upx;">长龙</view><view>提醒</view>
		</view>
		
         <!-- <uni-nav-bar fixed left-icon="arrowleft" :title="sysadArr.Title" color="#fff" background-color="#ec2740" @click-left="backToIndex"></uni-nav-bar> -->

		
		<view class="disBox boxAlign-center tac link"> 			 
 			<!-- <a :href="sysadArr.Link1" class="boxFlex owt"> -->
 			<a @click="btnLink(sysadArr.Link1)" class="boxFlex owt">
			<!-- <a :href="sysadArr.Link1" @tap="open(0)" class="boxFlex owt"> -->
				{{sysadArr.Link1Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link2" @tap="open(1)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link2)" class="boxFlex owt">
				{{sysadArr.Link2Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link3" @tap="open(2)" class="boxFlex owt"> -->
			<a @click="btnLinkim(sysadArr.Link3)" class="boxFlex owt">
				{{sysadArr.Link3Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link4" @tap="open(3)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link4)" class="boxFlex owt">
				{{sysadArr.Link4Name}}
			</a>
		</view>
		
		
		
		
		
		
		
		
		<div class="mkj">
			<div class="mlist">
				<div class="x1">
					<span id="cp_id" style="margin-right: 12upx;">{{openResults.Title}}</span>  第<span id="cp_id">{{openResults.TermNumber}}</span>期开奖
				</div>

				<div class="x2">
					下期开奖：
					<!-- {{planruleResultID}} -->
					<span id="djshh">{{hour}}</span> : 
					<span id="djsmm">{{minute}}</span> : 
					<span id="djsss">{{second}}</span>
				</div>
				
			</div>
			<div class="minfo" id="cp_code">
				<span v-for="(openNumber,index) in openNumbers"  v-if="!isTheLotteryShow">
					<span class="kj-ssc">{{openNumber}}</span>
				</span>
				<view class="kj-now" v-if="isTheLotteryShow">正在开奖中...</view>
			</div>
		</div>

		<div class="mdh">
			<div class="box1">	
				<p class="sort clear">
					<a v-for="(plantypeResult,index) in plantypeResults" :class="{'on':index==currentPlantypeIndex}"  @click="togglePlantype(index,plantypeResult)">
					{{plantypeResult.Title}}
					</a>
					<a :class="{'on':currentPlantypeIndex=='history'}"  @click="togglePlantypeHistory()">
						历史开奖
					</a>
				</p>
			</div>
		</div>


		<view v-if="currentPlantypeIndex!=='history'">
			<div class="mdh" style="margin-bottom: 0rem;">
				<div class="mnav3">
					<ul id="kuser">
						<li v-for="(planruleResult,index) in planruleResults" @click="togglePlanrule(index,planruleResult)">
							<a id="fangan3" :class="{'on':index==currentPlanruleIndex}">{{planruleResult.Title}}</a>
						</li>
					</ul>
				</div>
			</div>
		
			<!-- 后二直选 -->
			<ssc-common v-if="childComponentShow === '1'" :propPlanResults='childPlanResults'></ssc-common>

			<!-- 后二直选 -->
			<after-theSecond-direct-election v-if="childComponentShow === '2'" :propPlanResults='childPlanResults'></after-theSecond-direct-election>

			<!-- 后三直选 -->
			<aftert-threet-direct v-if="childComponentShow === '3'" :propPlanResults='childPlanResults'></aftert-threet-direct>
		</view>


		<!-- 历史开奖 -->
		<view style="background-color: #fff;" v-if="currentPlantypeIndex=='history'">
			<table width="100%"> 
			  <tbody> 
				<tr class="disBox boxAlign-center fs26 tac bdbtF1">
				<th class="tit1 boxFlex w10 fs35">开奖时间</th> 
				<th class="tit1 boxFlex w7 fs35">期号</th> 
				<th class="tit1 boxFlex w35 fs35 tb-tag">开奖号码</th> 
				<th class="tit1 boxFlex w20 fs35" colspan="3">和值</th> 
				<th class="tit1 boxFlex w7 fs35" width="70">龙虎</th> 

				<th class="tit1 boxFlex w7 fs35">前三</th> 
				<th class="tit1 boxFlex w7 fs35">中三</th> 
				<th class="tit1 boxFlex w7 fs35">后三</th> 
				</tr> 
			  </tbody>
			  <tbody> 
				<tr class="disBox boxAlign-center fs26 tac bdbtF1" v-for="openresultResult in openHistoryResults">
				  <td class="boxFlex cl8 w12">{{openresultResult.OpenTime}}</td> 
				  <td class="boxFlex w7">{{openresultResult.TermNumber.substr(8)}}</td> 

				  <td class="boxFlex w33 cl8 tb-code" align="center"> 
					<div style="width:160rpx; padding:0;margin:0 auto;overflow: hidden"> 
					<div class="kj-num" style="display: block;">

					  {{openresultResult.OpenNumber}}

					</div> 
					<div class="kj-num type-num" style="display: none;"></div> 
					<div class="kj-num type-num" style="display: none;"></div> 
					<div class="kj-num type-num" style="display: none;"></div> 
					</div>
				  </td> 



				  <td class="boxFlex w7">
					{{ parseInt(openresultResult.OpenNumber.split(',')[0]) + parseInt(openresultResult.OpenNumber.split(',')[1]) + parseInt(openresultResult.OpenNumber.split(',')[2]) + parseInt(openresultResult.OpenNumber.split(',')[3]) + parseInt(openresultResult.OpenNumber.split(',')[4]) }}
				  </td>

				  <td class="boxFlex w7">
					<font style="color: #ff6600;" v-if="( parseInt(openresultResult.OpenNumber.split(',')[0]) + parseInt(openresultResult.OpenNumber.split(',')[1]) + parseInt(openresultResult.OpenNumber.split(',')[2]) + parseInt(openresultResult.OpenNumber.split(',')[3]) + parseInt(openresultResult.OpenNumber.split(',')[4]) ) >= 23">大</font>
					<font v-else>小</font>
				  </td> 
				  <td class="boxFlex w7">
					<font v-if="( parseInt(openresultResult.OpenNumber.split(',')[0]) + parseInt(openresultResult.OpenNumber.split(',')[1]) + parseInt(openresultResult.OpenNumber.split(',')[2]) + parseInt(openresultResult.OpenNumber.split(',')[3]) + parseInt(openresultResult.OpenNumber.split(',')[4]) ) % 2 == 0">双</font>
					<font style="color: #ff6600;" v-else>单</font>
				  </td> 


				  <td class="boxFlex w7">
					<p style="color: #ff6600;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[0]) > parseInt(openresultResult.OpenNumber.split(',')[4])  ">龙</p>
					<p v-if=" parseInt(openresultResult.OpenNumber.split(',')[0]) < parseInt(openresultResult.OpenNumber.split(',')[4])  ">虎</p>
					<p style="color: #0FAF15;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[0]) === parseInt(openresultResult.OpenNumber.split(',')[4])  ">和</p>
				  </td> 


				  <td class="boxFlex w7">
					<font style="color: #0FAF5C;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[0]) === parseInt(openresultResult.OpenNumber.split(',')[1]) && parseInt(openresultResult.OpenNumber.split(',')[1]) === parseInt(openresultResult.OpenNumber.split(',')[2]) ">豹子</font>
					<font style="color: #ff6600;" v-else-if=" parseInt(openresultResult.OpenNumber.split(',')[0]) === parseInt(openresultResult.OpenNumber.split(',')[1]) || parseInt(openresultResult.OpenNumber.split(',')[0]) === parseInt(openresultResult.OpenNumber.split(',')[2]) || parseInt(openresultResult.OpenNumber.split(',')[1]) === parseInt(openresultResult.OpenNumber.split(',')[2]) ">对子</font>
					<font style="color: #0092DD;" v-else-if=" ( parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[1]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[1]) === -1 ) && ( parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === 2 || parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === -2 ) ">顺子</font>
					<font v-else-if=" parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[1]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[1]) === -1 ||  
					parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === -1 || 
					parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === -1">半顺</font>
					<font v-else>杂六</font>
				  </td> 

				  <td class="boxFlex w7">
					<font style="color: #0FAF5C;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[1]) === parseInt(openresultResult.OpenNumber.split(',')[2]) && parseInt(openresultResult.OpenNumber.split(',')[2]) === parseInt(openresultResult.OpenNumber.split(',')[3]) ">豹子</font>
					<font style="color: #ff6600;" v-else-if=" parseInt(openresultResult.OpenNumber.split(',')[1]) === parseInt(openresultResult.OpenNumber.split(',')[2]) || parseInt(openresultResult.OpenNumber.split(',')[2]) === parseInt(openresultResult.OpenNumber.split(',')[3]) || parseInt(openresultResult.OpenNumber.split(',')[2]) === parseInt(openresultResult.OpenNumber.split(',')[3]) ">对子</font>
					<font style="color: #0092DD;" v-else-if=" ( parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === -1 ) && ( parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === 2 || parseInt(openresultResult.OpenNumber.split(',')[0]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === -2 ) ">顺子</font>
					<font v-else-if=" parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[2]) === -1 ||  
					parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === -1 || 
					parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[1]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === -1">半顺</font>
					<font v-else>杂六</font>
				  </td> 

				  <td class="boxFlex w7">
					<font style="color: #0FAF5C;" v-if=" parseInt(openresultResult.OpenNumber.split(',')[2]) === parseInt(openresultResult.OpenNumber.split(',')[3]) && parseInt(openresultResult.OpenNumber.split(',')[3]) === parseInt(openresultResult.OpenNumber.split(',')[4]) ">豹子</font>
					<font style="color: #ff6600;" v-else-if=" parseInt(openresultResult.OpenNumber.split(',')[2]) === parseInt(openresultResult.OpenNumber.split(',')[3]) || parseInt(openresultResult.OpenNumber.split(',')[2]) === parseInt(openresultResult.OpenNumber.split(',')[4]) || parseInt(openresultResult.OpenNumber.split(',')[3]) === parseInt(openresultResult.OpenNumber.split(',')[4]) ">对子</font>
					<font style="color: #0092DD;" v-else-if=" ( parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[3]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === -1 ) && ( parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[4]) === 2 || parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[4]) === -2 ) ">顺子</font>
					<font v-else-if=" parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[3]) === -1 ||  
					parseInt(openresultResult.OpenNumber.split(',')[3]) - parseInt(openresultResult.OpenNumber.split(',')[4]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[3]) - parseInt(openresultResult.OpenNumber.split(',')[4]) === -1 || 
					parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[4]) === 1 || parseInt(openresultResult.OpenNumber.split(',')[2]) - parseInt(openresultResult.OpenNumber.split(',')[4]) === -1">半顺</font>
					<font v-else>杂六</font>
				  </td> 


				</tr> 
			  </tbody>

			</table> 
			
			
			
		</view>


	</view>
</template>

<style lang="scss">
  @import '../../static/style/details/shishicaiSeries.css';
</style>

<style lang="scss">
	page {
		background: #efeff4;
	}
</style>

<script>
	import {uniNavBar} from '@dcloudio/uni-ui';
	
	import Public from '../../static/js/public';
	
	// 通用模板
	import sscCommon from './../childComponents/ssc/sscCommon';
	
	// 后二直选
	import afterTheSecondDirectElection from './../childComponents/ssc/afterTheSecondDirectElection';
	
	// 后三直选
    import aftertThreetDirect from './../childComponents/ssc/aftertThreetDirect';

	export default {
		data() {
			return {
				url: ["http://jysctgw.com/","http://yzcp.vip","http://mdq.miduoke.net/Web/im.aspx?_=t&accountid=102586","http://www.jysctjh.com/hbjlq.html"],            //顶部菜单导航网址
				openNumbers: [],
				openResults: [],
				
				plantypeResults: [],
				currentPlantypeIndex: 0,
				
				planruleResults: [],
				planruleResultID: "",
				
				currentPlanruleIndex: 0,

				childPlanResults: [],
				listPlan: [],
				
				
				intervalID: 0,
				hour: 0, minute: 0, second: 0,
				
				isTheLottery:'', //开奖动画时长相关
				
				isTheLotteryShow: false,
				
				childComponentShow: "1",
				
				
				optionuid: "",
				optionlotteryId: "",
				
				openHistoryResults: [],
				pageindex: 1,
				pagesize: 30,
				
				
				LeftSecond: "",
				sysadArr: [],
			}
		},
		components: {
			uniNavBar,
			sscCommon,
			afterTheSecondDirectElection,
			aftertThreetDirect,
		},
		onLoad(option) {
			// console.log(option.uid,option.lotteryId);
			this.optionuid = option.uid;
			this.optionlotteryId = option.lotteryId;
		},
		mounted () {
		  this.$nextTick(() => {
			  Public.initialization(this.optionuid,this.optionlotteryId);
			  this.togglePlantype(0);
			  this.fetchOpenresult(this.optionuid,this.optionlotteryId);
			  this.fetchsysad(this.optionuid);
			  
			  this.fetchOpenHistory(this.pageindex,this.pagesize,this.optionuid,this.optionlotteryId);

		  })
		},
		methods: {
			// 跳转到第三方网站
			open(types) {
				plus.runtime.openURL(this.url[types], function(res) {
					console.log(res);
				});
			},
			// 根据彩种ID 获取开奖结果
			fetchOpenresult(uid,lotteryid) {
				uni.request({
					url:this.$hostUrl + '/openresult' + `?uid=${uid}&lotteryid=${lotteryid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.openNumbers = res.data.Data[0].OpenNumber.split(',');
							this.openResults = res.data.Data[0];
							
							this.LeftSecond = res.data.Data[0].LeftSecond;

							
							this.timer( res.data.Data[0].LeftSecond ); //s  300s 5*60,  60s 1*60

						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			timer(intDiff) {
				// window.clearInterval(this.intervalID);
				clearInterval(this.intervalID);

				this.intervalID = setInterval(() => {
				  if (intDiff >= 0) {
					this.hour = Math.floor(intDiff / (60 * 60));
					this.minute = Math.floor(intDiff / 60) - (this.hour * 60);
					this.second = Math.floor(intDiff) - (this.hour * 60 * 60) - (this.minute * 60);
					if (this.hour <= 9) this.hour = '0' + this.hour;
					if (this.minute <= 9) this.minute = '0' + this.minute;
					if (this.second <= 9) this.second = '0' + this.second;
					intDiff--;
					if (intDiff < 0) {
					  this.setIntervalFn();
					}
				  }
				}, 1000);
			},
			setIntervalFn() {
				this.isTheLotteryShow = true;
		        setTimeout(() => {
				  
		          this.fetchPlan(1,20, this.optionuid, this.planruleResultID);
		          this.fetchOpenresult(this.optionuid,this.optionlotteryId);
				  
		          this.isTheLotteryShow = false;
		        // }, this.isTheLottery * 1000);
				}, 3000);
			},
			
			
			togglePlantype(index,plantypeResult) {
				
				this.childComponentShow = "1";
				
				if (plantypeResult && plantypeResult.Title == "后二直选")
				{
					this.childComponentShow = "2";
				} 
				else if (plantypeResult && plantypeResult.Title == "后三直选")
				{
					this.childComponentShow = "3";
				}
				
				this.fetchLottery(1,1,this.optionuid,this.optionlotteryId,index);
				
				if (index!==this.currentPlantypeIndex) {
					this.currentPlantypeIndex = index;
				}
			},
			togglePlantypeHistory() {
				this.currentPlantypeIndex="history";
				this.fetchOpenHistory(this.pageindex,this.pagesize,this.optionuid,this.optionlotteryId);
			},
			
			
			
			//接口1： 根据彩种ID 获取计划类型列表 (二级导航菜单)
			fetchLottery(pageindex,pagesize,uid,lotteryid,index) {
				uni.request({
					url:this.$hostUrl + '/plantype' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&lotteryid=${lotteryid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.plantypeResults = res.data.Data;
							this.fetchPlantypeid(1,1,this.optionuid,res.data.Data[index].ID);

						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			// 接口2：根据 计划类型ID和用户id 获取 计划规则列表 (三级导航菜单)
			fetchPlantypeid(pageindex,pagesize,uid,plantypeid) {
				uni.request({
					url:this.$hostUrl + '/planrule' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&plantypeid=${plantypeid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.planruleResults = res.data.Data;
							this.planruleResultID = this.planruleResults[0].ID;

							// 初始化获取计划详细数据
							this.fetchPlan(1,20,this.optionuid,this.planruleResults[0].ID);

						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			
			togglePlanrule(index,planruleResult) {
				this.planruleResultID = planruleResult.ID; //获取计划详细数据的计划规则ID
				this.fetchPlan(1,20,this.optionuid,planruleResult.ID);

				if (index!==this.currentPlanruleIndex) {
					this.currentPlanruleIndex = index;
				}
			},
			// 接口3： 根据计划规则ID 获取计划详细数据
			fetchPlan(pageindex,pagesize,uid,planid) {
				uni.request({
					url:this.$hostUrl + '/plan' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&planid=${planid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.childPlanResults = res.data.Data;
							this.listPlan = res.data;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},

			// 历史开奖
			fetchOpenHistory(pageindex,pagesize,uid,lotteryid) {
				uni.request({
					url:this.$hostUrl + '/openresult' + `?pageindex=${pageindex}&pagesize=${pagesize}&uid=${uid}&lotteryid=${lotteryid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
						    this.openHistoryResults = res.data.Data;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			
			// 接口7   接口15  根据用户ID 获取广告设置详情
			fetchsysad(uid) {
				uni.request({
					url:this.$hostUrl + '/sysad'  + `?uid=${uid}`,
					method: 'GET',
					success: (res) => {
						if(res.data.Msg === "ok" && res.data.Data) {
							this.sysadArr = res.data.Data;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
             backToIndex(){
            	uni.navigateTo({
            		url: '../home/index'
            	})
            },
            btnCL(){
				uni.navigateTo({
					url: '../details/lotlong?uid=' + this.optionuid
				})
			},

            btnLink(link){
				uni.navigateTo({
					url: '../details/linkComponent?uid=' +  this.optionuid + '&link=' + link
				})
			},
            btnLinkim(link){
				uni.navigateTo({
					url: '../details/linkim?uid=' +  this.optionuid
				})
				
			}

		}
	}
</script>

