<template>
	<view>
		<!-- 后二直选 -->

		<div class="jh-all">
			<div id="kplan">
				<div class="myplan">
					
					
					<view class="disBox boxAlign-center" v-if="propPlanResults">
						<view class="tit1 boxFlex w33">预测期数</view>
						<view class="tit1 boxFlex w33">预测计划</view>
						<view class="tit1 boxFlex w33">投注倍数</view>
					</view>
					<view class="disBox boxAlign-center fs26 tac" style="background-color:#FFFFFF; padding: 12upx;" v-for="(result,index) in propPlanResults"  v-if="index == 0">
						<view class="Xlist1 boxFlex w33">								
							<span v-if="result.PlanTermStart.length >8" style="color:#16C03D">
								{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
							</span>
							<span v-if="result.PlanTermStart.length <=8" style="color:#16C03D">
								{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
							</span>
						</view>
						<view class="boxFlex w33">
							<!-- {{result.PlanNumber}} -->
							<!-- <span v-for="PlanNumber in childPlanResults[0].PlanNumber.split(',')"> -->
							<!-- <span v-for="PlanNumber in result.PlanNumber.split(',')">
								{{PlanNumber}}
							</span> -->
							
						  <div>
							<span class="m-jh-end">十</span>
							<!-- <span class="m-jh-new" v-for="PlanNumber in result.PlanNumber.split('-')[1].split(',')">{{PlanNumber}}</span> -->
							<span>{{result.PlanNumber.split('-')[1]}}</span>
						  </div>

						  <div>
							<span class="m-jh-end">个</span>
							<!-- <span class="m-jh-new" v-for="PlanNumber in result.PlanNumber.split('-')[0].split(',')">{{PlanNumber}}</span> -->
							<span>{{result.PlanNumber.split('-')[0]}}</span>
						  </div>
						</view>
						<view class="Xlist3 boxFlex w33">
							<span class="new-2">{{result.Multiple}}倍</span>
						</view>
					</view>
					
					
					
					<view class="disBox boxAlign-center" v-if="propPlanResults">
						<view class="tit1 boxFlex w25">历史期数</view>
						<view class="tit1 boxFlex w25">历史计划</view>
						<view class="tit1 boxFlex w25">成功关卡</view>
						<view class="tit1 boxFlex w25">结果</view>
					</view>
					<view  class="disBox boxAlign-center fs26 tac bdbtF1" v-for="(result,index) in propPlanResults"  v-if="index !== 0">
						<view class="boxFlex cl8 w25">
							<span v-if="result.PlanTermStart.length >8">
								{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
							</span>
							<span v-if="result.PlanTermStart.length <=8">
								{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
							</span>
						</view>
						<view class="boxFlex w25">
							<!-- {{result.PlanNumber}} -->
							<!-- <span class="m-jh" style="background:gainsboro" v-for="(PlanNumber,index) in result.PlanNumber.split(',')">
								{{PlanNumber}}
							</span> -->
							
							<div>
								<span class="m-jh-end">十</span>
								<!-- <span class="m-jh" v-for="PlanNumber in result.PlanNumber.split('-')[1].split(',')">{{PlanNumber}}</span> -->
								<span>{{result.PlanNumber.split('-')[1]}}</span>
							</div>

							<div>
								<span class="m-jh-end">个</span>
								<!-- <span class="m-jh" v-for="PlanNumber in result.PlanNumber.split('-')[0].split(',')">{{PlanNumber}}</span> -->
								<span>{{result.PlanNumber.split('-')[0]}}</span>
							</div>
							
						</view>
						<view class="boxFlex cl8 w25">
							<span v-if="result.isOut === 1">挂</span>
							<span v-if="result.isOut === 0">第 {{result.PlayCount}} 关</span>
						</view>
						<view class="boxFlex w25">
							<span class="m-ok" v-if="result.isOut === 0">中</span>
							<span class="m-no" v-if="result.isOut === 1">挂</span>
						</view>
					</view>		
					
					
					
					
					
					
					
					
					
					
					
					
					
					 <!-- <table width="100%">
						<tbody>
							<tr>
								<th width="209" class="tit1">预测期数</th>
								<th width="519" class="tit1">预测计划</th>
								<th width="259" class="tit1" colspan="2" style="text-align:right;padding-right:5px;">投注倍数</th>
							</tr>
						</tbody>
						<tbody>
							<tr style="background-color:#FFFFFF" id="yuce_new" v-for="(result,index) in propPlanResults"  v-if="index == 0">
								<td align="center" valign="middle" class="list1" height="40">								
									<font v-if="result.PlanTermStart.length >8" style="color:#16C03D">
										{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
									</font>
									<font v-if="result.PlanTermStart.length <=8" style="color:#16C03D">
										{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
									</font>
								</td>
								
								
                <td align="center" valign="middle" class="list2">

                  <div style="margin-top: 7px; margin-bottom: 5px;">
                    <span class="m-jh-end">十</span>
                    <span class="m-jh-new" v-for="PlanNumber in result.PlanNumber.split('-')[1].split(',')">{{PlanNumber}}</span>
                  </div>

                  <div style="margin-top: 7px; margin-bottom: 5px;">
                    <span class="m-jh-end">个</span>
                    <span class="m-jh-new" v-for="PlanNumber in result.PlanNumber.split('-')[0].split(',')">{{PlanNumber}}</span>
                  </div>
                </td>


								<td align="center" valign="middle" class="list3" colspan="2" style="text-align:right;padding-right:5px;">
									<span class="new-2">{{result.Multiple}}倍</span>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th width="209" class="tit1">历史期数</th>
								<th width="519" class="tit1">历史计划</th>
								<th width="259" class="tit1">成功关卡</th>
								<th width="210" class="tit2">结果</th>
							</tr>
						</tbody>
						<tbody id="yuce_history">
							<tr v-for="(result,index) in propPlanResults"  v-if="index !== 0">
								<td align="center" valign="middle" class="list1" height="40">
									<span v-if="result.PlanTermStart.length >8">
										{{result.PlanTermStart.substr(8)}} -- {{result.PlanTermEnd.substr(8)}}
									</span>
									<span v-if="result.PlanTermStart.length <=8">
										{{result.PlanTermStart.substr(-3)}} -- {{result.PlanTermEnd.substr(-3)}}
									</span>
								</td>
								


								<td align="center" valign="middle" class="list2">
								  <div style="margin-top: 7px; margin-bottom: 5px;">
									<span class="m-jh-end">十</span>
									<span class="m-jh" v-for="PlanNumber in result.PlanNumber.split('-')[1].split(',')">{{PlanNumber}}</span>
								  </div>

								  <div style="margin-top: 7px; margin-bottom: 5px;">
									<span class="m-jh-end">个</span>
									<span class="m-jh" v-for="PlanNumber in result.PlanNumber.split('-')[0].split(',')">{{PlanNumber}}</span>
								  </div>
								</td>
				
				
								<td align="center" valign="middle" class="list3">
									<span v-if="result.isOut === 1">挂</span>
									<span v-if="result.isOut === 0">第 {{result.PlayCount}} 关</span>
								</td>
								<td align="center" valign="middle" class="list4">
									<span class="m-ok" v-if="result.isOut === 0">中</span>
									<span class="m-no" v-if="result.isOut === 1">挂</span>
								</td>
							</tr>							
						</tbody>
					</table> -->
					 
					 
				</div>
			</div>
		</div>


	</view>
</template>

<style lang="scss">
  @import '../../../static/style/details/shishicaiSeries.css';
</style>

<script>
	export default {
		data() {
			return {
				
			}
		},
		onLoad() {

		},
		mounted () {
		  this.$nextTick(() => {

		  })
		},
		props: ['propPlanResults'],
		methods: {
			
		}
	}
</script>
