<template>
	<view class="content">
		<iframe :style="{ width: clientWidth + '%', height: clientHeight + 'px' }" :src="contactUrl"></iframe>
			
	</view>
</template>

<style lang="scss">
  @import '../../static/style/public.css';
</style>

<script>
	export default {
		data() {
			return {
				clientWidth: 100,
				clientHeight: document.documentElement.clientHeight,
				// contactUrl: "http://jhqt.0771tq.com/h5/app_download",
				contactUrl: location.protocol+"//"+location.host + "/h5/app_download",
			};
		},
		mounted () {
		  this.$nextTick(() => {
			this.userStorage();
			
		  })
		},
		methods: {
			
			userStorage:function(){
			},
        }
    }
</script>

<style>
	page {
		background-image: #FFF;
	}
	iframe {
		padding: 0;
		margin: 0;
		border: none;
	}
</style>


