
<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style lang="scss">
  @import './static/style/public.css';
 
</style>

<script>
	export default {

		data() {
			return {
				sysadArr:[]
			}
		},
		watch: {
		  '$route': function() {
			console.log( 'watch $route.name ');
			document.title = this.sysadArr.Title;
		  }
		},
		onLoad() {

		},
		mounted () {
		  this.$nextTick(() => {
			this.browserRedirect();
			this.fetchsysad(this.$uid);
		  })
		},
		methods: {
			browserRedirect() {
				let sUserAgent = navigator.userAgent.toLowerCase(),
					bIsIpad = sUserAgent.match(/ipad/i) == "ipad",
					bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os",
					bIsMidp = sUserAgent.match(/midp/i) == "midp",
					bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4",
					bIsUc = sUserAgent.match(/ucweb/i) == "ucweb",
					bIsAndroid = sUserAgent.match(/android/i) == "android",
					bIsCE = sUserAgent.match(/windows ce/i) == "windows ce",
					bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

				if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
				    //跳转移动端页面
					// window.location.href="/h5";
					console.log("h5");
				} else {
				    //跳转pc端页面
				    window.location.href="../";
					console.log("pc");
				    return;
				}
			},

			// 接口7   接口15  根据用户ID 获取广告设置详情
			fetchsysad(uid) {
				uni.request({
					url:this.$hostUrl + '/adm'  + `?uid=${uid}`,
					method: 'GET',
					success: (res) => {
						if(res.data.Msg === "ok" && res.data.Data) {
							this.sysadArr = res.data.Data;
							document.title = this.sysadArr.Title;
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			
		}
	}
</script>
