<template>
	<view>
		<!-- <uni-nav-bar fixed :title="sysadArr.Title" color="#fff" background-color="#ec2740"></uni-nav-bar> -->
		<!-- <common-header></common-header> -->
		
		<!-- <uni-nav-bar fixed :title="sysadArr.Title" color="#fff" background-color="#ec2740" right-icon="download" 
		@click-right="download" right-text="APP下载"></uni-nav-bar> -->
		
		
		<view class="homehead disBox boxAlign-center" style="font-weight: bold; font-size: 38upx;">
			<view style="width: 140upx;"></view>
			<view class="boxFlex owt">{{sysadArr.Title}}</view>
			<view class="disBox boxAlign-center" style="width: 140upx;" @click="download()">
				<view  style="font-size: 30upx;">app</view>
				<image style="width: 60upx; height: 60upx; display: block;" src="../../static/images/home/index/dowload.png"></image>
			</view>
		</view>
		
		
		<view class="helpBtn" @click="btnCL()">
			<view style="margin-top: 24upx;">长龙</view><view>提醒</view>
		</view>
		
		<view class="disBox boxAlign-center tac link"> 			 
		<!-- <view class="disBox boxAlign-center tac link" style="margin-top: 84upx;"> 			 -->
 			<!-- <a :href="sysadArr.Link1" class="boxFlex owt"> -->
 			<a @click="btnLink(sysadArr.Link1)" class="boxFlex owt">
			<!-- <a :href="sysadArr.Link1" @tap="open(0)" class="boxFlex owt"> -->
				{{sysadArr.Link1Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link2" @tap="open(1)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link2)" class="boxFlex owt">
				{{sysadArr.Link2Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link3" @tap="open(2)" class="boxFlex owt"> -->
			<a @click="btnLinkim(sysadArr.Link3)" class="boxFlex owt">
				{{sysadArr.Link3Name}}
			</a>
			<view>|</view>
			<!-- <a :href="sysadArr.Link4" @tap="open(3)" class="boxFlex owt"> -->
			<a @click="btnLink(sysadArr.Link4)" class="boxFlex owt">
				{{sysadArr.Link4Name}}
			</a>
		</view>
		
		<view class="MHomeImage" v-if="sysadArr.IsShowMHomeImage == 1 && isadcloser">
			<view class="adclose" @click="adcloser">x</view>
			<a :href="sysadArr.MHomeImageUrl">
				<image :src="sysadArr.MHomeImage"></image>
			</a>
		</view>
		
		<view class="banner">
			<view class="uni-padding-wrap">
				<view class="page-section swiper">
					<view class="page-section-spacing">
						<swiper class="swiper" :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval" :duration="duration">
							<swiper-item @click="btnLink(sysadArr.Mbanner1Link)">
								<view class="swiper-item uni-bg-red">
									<!-- <image src="../../static/images/home/index/banner01.jpg"></image> -->
									<image :src="sysadArr.Mbanner1"></image>
								</view>
							</swiper-item>
							<swiper-item @click="btnLink(sysadArr.Mbanner2Link)">
								<view class="swiper-item uni-bg-green">
									<image :src="sysadArr.Mbanner2"></image>
								</view>
							</swiper-item>
							<swiper-item @click="btnLink(sysadArr.Mbanner3Link)">
								<view class="swiper-item uni-bg-blue">
									<image :src="sysadArr.Mbanner3"></image>
								</view>
							</swiper-item>
						</swiper>
					</view>
				</view>
			</view>
		</view>

		<!-- <view class="disBox boxAlign-center notice">
			<uni-notice-bar 
				show-icon="true" 
				scrollable="true" single="true" speed="50"
				:text="sysadArr.TopMsg">
			</uni-notice-bar>
		</view> -->
		<view class="disBox boxAlign-center notice">
			<image src="../../static/images/home/index/noticeIcon.png"></image>
			<marquee v-if="sysadArr.TopMsg" class="boxFlex" direction="left" behavior="scroll" scrollamount="3" scrolldelay="0" loop="-1" hspace="10" vspace="10">
				{{sysadArr.TopMsg}}
			</marquee>			
		</view>

		<!-- <uni-drawer :visible="true">
			<view style="padding:30upx;">
				<view class="uni-title">抽屉式导航</view>
			</view>
		</uni-drawer> -->


		<wuc-tab :tab-list="tabList" :tabCur="TabCur" @change="tabChange"></wuc-tab>
		
		<view class="uni-grid mgT28" style="border-top: 1px #d0dee5 solid;">
			<uni-grid :column="3" v-for="item in menu">
				
				<view v-if="item.hasOwnProperty('LotteryList') && item.ID == (TabCur+1)"  v-for="(list,index) in item.LotteryList" @click="go_dt(item.LotteryList[index].ID)">
					<uni-grid-item>											
						<image v-if="list.AbName === 'OG3K3'" src="../../static/images/home/menu/k3/c3.png"></image>
						<image v-if="list.AbName === 'OG5K3'" src="../../static/images/home/menu/k3/c5.png"></image>
						<image v-if="list.AbName === 'OG1K3'" src="../../static/images/home/menu/k3/c1.png"></image>
						<image v-if="list.AbName === 'JSK3'" src="../../static/images/home/menu/k3/js.png"></image>
						<image v-if="list.AbName === 'JLK3'" src="../../static/images/home/menu/k3/jl.png"></image>
						<image v-if="list.AbName === 'HEBK3'" src="../../static/images/home/menu/k3/hb.png"></image>
						<image v-if="list.AbName === 'AHK3'" src="../../static/images/home/menu/k3/ah.png"></image>
						<image v-if="list.AbName === 'HUBK3'" src="../../static/images/home/menu/k3/hub.png"></image>
						<image v-if="list.AbName === 'BJK3'" src="../../static/images/home/menu/k3/bj.png"></image>
						<image v-if="list.AbName === 'GXK3'" src="../../static/images/home/menu/k3/gx.png"></image>
						<image v-if="list.AbName === 'GSK3'" src="../../static/images/home/menu/k3/gs.png"></image>
						<image v-if="list.AbName === 'SHK3'" src="../../static/images/home/menu/k3/sh.png"></image>
						<image v-if="list.AbName === 'GZK3'" src="../../static/images/home/menu/k3/gz.png"></image>
						
						<image v-if="list.AbName === 'JLPK10'" src="../../static/images/home/menu/sc/s1.png"></image>
						<image v-if="list.AbName === 'TSPK10'" src="../../static/images/home/menu/sc/s3.png"></image>
						<image v-if="list.AbName === 'TFPK10'" src="../../static/images/home/menu/sc/s5.png"></image>
						<image v-if="list.AbName === 'BJPK10'" src="../../static/images/home/menu/sc/sbj.png"></image>
						<image v-if="list.AbName === 'XYFT'" src="../../static/images/home/menu/sc/30.png"></image>

						<image v-if="list.AbName === 'JLFFC'" src="../../static/images/home/menu/ssc/ssc1.png"></image>
						<image v-if="list.AbName === 'TSFFC'" src="../../static/images/home/menu/ssc/ssc3.png"></image>
						<image v-if="list.AbName === 'CQSSC'" src="../../static/images/home/menu/ssc/hl.png"></image>
						<image v-if="list.AbName === 'TFFFC'" src="../../static/images/home/menu/ssc/ssc5.png"></image>
						<image v-if="list.AbName === 'XJSSC'" src="../../static/images/home/menu/ssc/xj.png"></image>

						<text class="text">{{list.Title}}</text>
					</uni-grid-item>
				</view>
				
			</uni-grid>
		</view>

	</view>
</template>

<style lang="scss">
  @import '../../static/style/home/index.css';
</style>


<script>
	
    // import commonHeader from '../childComponents/common/header';
	
	import {uniNoticeBar,uniGrid,uniGridItem,uniNavBar} from '@dcloudio/uni-ui'
	// import WucTab from '@/components/wuc-tab/wuc-tab.vue';
	import WucTab from '../../components/wuc-tab/wuc-tab.vue';
	import uniDrawer from "@/components/uni-drawer/uni-drawer.vue";
	import uniFab from '@/components/uni-fab/uni-fab.vue';
	import Store from '../../static/js/store';


	export default {
		components: {
			uniNoticeBar,
			uniGrid,
			uniGridItem,
			WucTab,
			// commonHeader,
			uniNavBar,
			uniDrawer,
			uniFab,
		},
		data() {
			return {
				url: ["http://jysctgw.com/","http://yzcp.vip","http://mdq.miduoke.net/Web/im.aspx?_=t&accountid=102586","http://www.jysctjh.com/hbjlq.html"],            //顶部菜单导航网址                       
				uid: this.$uid,
				
				indicatorDots: true, //指示点
				autoplay: true, //自动播放
				interval: 2000, //自动播放间隔时长(ms)
				duration: 500, //幻灯片切换时长(ms)
				notice: "温馨提示！温馨提示！",
				
				sysadArr: [],
			    isadcloser: true,


				
				menu: [],
				TabCur: 0,
				tabList: [
					// { name: '快三系列' }, 
					// { name: '赛车系列' },
					// { name: '时时彩系列' },
					// { name: '长龙提醒' },
				],
				
				
			}
		},
		onLoad(op) {

		},
		mounted () {
		  this.$nextTick(() => {
			  this.getMenu(this.uid);
			  this.fetchsysad(this.uid);
		  })
		},
		methods: {
			
			
			onNavigationBarButtonTap() {
				// console.log("点击了自定义按钮");
				uni.navigateTo({
				  url: '../app/app_download?uid=' + this.uid
				});
			},
			
			
			// 跳转到第三方网站
			open(types) {
				plus.runtime.openURL(this.url[types], function(res) {
					console.log(res);
				});
			},
			go_dt(lotteryId) {
				this.go_detal(lotteryId,this.uid);
			},
			go_detal(lotteryId,uid) {
				if (this.TabCur == 0) {
					uni.navigateTo({
						url: '../details/kuaisanSeries' + `?uid=${uid}&lotteryId=${lotteryId}`
					});
				}
				if (this.TabCur == 1) {
					uni.navigateTo({
						url: '../details/racingSeries' + `?uid=${uid}&lotteryId=${lotteryId}`
					});
				}
				if (this.TabCur == 2) {
					uni.navigateTo({
						url: '../details/shishicaiSeries' + `?uid=${uid}&lotteryId=${lotteryId}`
					});
				}
				
				// this.tabList.forEach((item,k,a)=> {
				// 	console.log(item.name,k,this.TabCur)
				// 	if (item.name == "快三系列" && this.TabCur == 0) {
				// 		uni.navigateTo({
				// 			url: '../details/kuaisanSeries' + `?uid=${uid}&lotteryId=${lotteryId}`
				// 		});
				// 	}
				// 	if (item.name == "赛车系列" && this.TabCur == 1) {
				// 		uni.navigateTo({
				// 			url: '../details/racingSeries' + `?uid=${uid}&lotteryId=${lotteryId}`
				// 		});
				// 	}
				// 	if (item.name == "时时彩系列"  && this.TabCur == 2) {
				// 		uni.navigateTo({
				// 			url: '../details/shishicaiSeries' + `?uid=${uid}&lotteryId=${lotteryId}`
				// 		});
				// 	}
				// })
			},
			tabChange(index) {
				if (index !== 3) {
					this.TabCur = index;
				} else {
					uni.navigateTo({
						url: '../details/lotlong?uid=' + this.uid
					});
				}
			},
			// 菜单列表接口，可获得lotteryId等
			getMenu(uid) {
				uni.request({
					url:this.$hostUrl + '/lotterytype'  + `?uid=${uid}`,
					method: 'GET',
					success: (res) => {
						if (res.data.Msg === "ok") {
							this.menu = res.data.Data;
							this.menu.forEach((item,index,arr)=>{
								// console.log(item,index,arr,item.Title);
								if (index !==0) {
									this.tabList.push({ "name": item.Title });
								}
							})
							setTimeout(() => {
								this.tabList.push({ "name": "长龙提醒" });
							}, 0);
						}
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})
			},
			
			adcloser() {
				this.isadcloser = false;
			},
			// 接口7   接口15  根据用户ID 获取广告设置详情
			fetchsysad(uid) {
				uni.request({
					url:this.$hostUrl + '/adm'  + `?uid=${uid}`,
					method: 'GET',
					success: (res) => {
						if(res.data.Msg === "ok" && res.data.Data) {
							this.sysadArr = res.data.Data;
							uni.setNavigationBarTitle({
								title: this.sysadArr.Title
							});
							
						}
							
					},
					fail: (err) => {
						uni.showToast({
							icon: 'none',
							duration:3000,
							title: `${err.message}`
						});
					}
				})

			},
            btnCL(){
				uni.navigateTo({
					url: '../details/lotlong?uid=' + this.uid
				})
			},
            btnLink(link){
				// Store.save("link",link);
				uni.navigateTo({
					url: '../details/linkComponent?uid=' +  this.uid + '&link=' + link
				})
			},
            btnLinkim(link){
				uni.navigateTo({
					url: '../details/linkim?uid=' +  this.uid
				})
				
			},
			
			
			download() {
				uni.navigateTo({
				  url: '../app/app_download?uid=' + this.uid
				});
			},
			
			
		}
	}
</script>

